.accordion {
  max-width: 400px;
  margin: 0 auto;

  &__item {
    margin-bottom: 10px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    border: 2px solid #111111;

    cursor: pointer;

    div {
      width: 20px;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    padding: 5px 10px;

    border: 2px solid #cccccc;
  }
}
